@media screen and (max-width 1024px) {
.slider_shadow{background-size:100% 100%;width:992px}
.error_500 img{width:100%}
}

@media screen and (max-width 960px) {
.slider_shadow{background:none;width:100%}
.wrapper{width:890px}
.logo{width:72%}
.sliderBullets{top:85%}
.search_part input{width:90%}
.promotions_block{margin-right:19px}
.brands li{margin:0;width:25%;height:100px}
.facebook_block{margin:0 18px}
.newsletter input{background-size:100%;width:190px;background:#fff}
.product_category li{width:23.9%}
.order select{width:73%}
.filter_listing li a{width:93%}
.company_img img, .brand_exclusive li a img{width:100%}
.store_listing li{margin:0 17px}
.store_listing li{width:26%;margin:0 90px 30px}
.other_locations li{width:90px;margin:0 10px}
.brand_exclusive li{width:15%;margin:0 14px 0 0}
.showcase-thumbnail-restriction{width:96%!important}
.showcase-thumbnail{margin:0 12px}
.login_part{width:62%}
.trabaja_content_main{float:left;width:100%;margin-top:20px}
.trabaja_content_main h1{float:left;text-align:left}
.trabaja_content_inner, .trabaja_content_inner input{float:left}
.trabaja_content_inner p{float:left;text-align:left}
.noticias_gallery_content{float:left;width:100%}
#gallery{width:100%;float:left;margin-right:0}
#gallery ul li{margin:0 19px 19px 0!important}
}

@media screen and (max-width 800px) {
.wrapper{width:750px}
.logo{width:67%}
.slider_bg{background:none;margin-bottom:0;height:auto}
.slider_shadow{height:auto}
.sliderContent{height:280px}
.main_menu{padding:17px 0;width:100%}
.main_menu li{margin:6px 9px;}
.product_img img{width:100%;min-height:163px}
.promotions_block{margin-right:16px}
.twitter_title,.facebook_title{width:93%;}
.facebook_block{margin:0 13px;}
.newsletter{width:100%;float:left;margin:20px 0 0;width:100%;border-top:1px solid #fff;padding:20px 0 0}
.footer_bottom p{width:82%}
.product_category li a{border:2px solid #FF7900}
.product_category li a:hover{border:2px solid #666}
.product_category li{width:23.7%}
.view_stock span{margin:5px 0 0}
.order select{width:100%;margin:0 0 5px}
.filter_listing li a{width:92%}
.item_pricing{margin:0 0 0 33px}
.blue_border li a{border:2px solid #00A1DE}
.faq_img, .chat_img{width:40%}
.contact_form, .faq_img img, .chat_img img{width:100%}
.showcase-content{height:330px}
.showcase-content-container{height:345px!important}
.showcase-thumbnail{width:96px}
.showcase-thumbnail-button-backward,.showcase-thumbnail-button-forward{margin-top:25px}
.other_locations li{margin:0 48px 48px}
.shopping_step li{width:22%}
.cart_product_des{width:47%}
.amount{margin-top:20px}
.cart_product_price{margin-top:40px}
.cart_product_des{margin-top:20px}
.check_form_left{float:left!important;margin:0}
.checkout_forms{float:right;width:47%}
.login_part{width:74%}
.noticias ul li{float:left;width:100%;margin:0 0 30px!important}
.info_content, .history_data{width:100%}
.info_content table tr{float:left;width:100%}
.info_content table tr td{margin:10px 0 0;width:100%}
.info_content table tr th{width:100%;text-align:left}
}

@media screen and (max-width 768px) {
.wrapper{width:720px}
.logo{width:65%}
.main_menu li{margin:0 20px}
.main_menu ul{display:none}
.responsive_menu{display:block}
.search_part input{width:100%}
.promotions_block{width:23.2%}
.top_sellers_block{width:18.2%}
.promotions_block a{border:2px solid #00A1DE}
.top_sellers_block a{border:2px solid #C4262E}
.twitter_block{width:30%}
.sidebar{width:23.3%}
.view_stock span{margin:0}
.order select{width:75%;margin:0 7px 0 0}
.page_right{width:75%}
.product_category li{width:50%;margin:0 0 10px!important}
.product_purchase{width:93.5%}
.store_listing li{width:27%;margin:0 80px 30px}
.other_locations li{width:90px;margin:0 45px 45px}
.showcase-thumbnail{margin:0 9px}
.cart_product_des{width:44%}
.login_part{width:77%}
}

@media screen and (max-width 720px) {
.wrapper{width:668px}
.logo{width:63%}
.sliderContent{height:250px}
.responsive_menu select{width:67%}
.product_wrap, .brands, .paagination{padding:20px 0}
.promotions,.top_sellers{padding-top:20px}
.top_sellers_block{width:18%}
.brands ul{padding:10px 0}
.facebook_block{margin:0 12px}
.sidebar{width:25.5%}
.page_right{width:72%}
.chat_content{width:55%}
.faq_listing{width:61%}
.faq_img{width:34%}
.store_listing li{width:29%;margin:0 60px 30px}
.brand_exclusive li{margin:0 13px 0 0}
.other_locations li{width:90px;margin:0 38px 38px}
.address, .login_part, .panama_right{width:100%}
.address_block{width:33.3%;padding-bottom:30px}
.showcase-thumbnail{width:143px}
.cart_product_des{width:42%}
}

@media screen and (max-width 640px) {
.wrapper{width:590px}
.logo{width:58%}
.sliderContent{height:217px}
.responsive_menu select{width:63%}
.promotions_block{width:22.7%}
.top_sellers_block{width:17.4%}
.product_wrap{padding:20px 0 0}
.twitter_block,.facebook_block{width:46.5%}
.facebook_block{float:right;margin:0}
.weather_block{float:left;margin:20px 0;width:48.5%;clear:both}
.sidebar{width:28.4%}
.page_right{width:69%}
.item_img, .item_desc, .company_overview, #lightbox-container-image img, .about_product .page_right, .about_product .product_purchase .item_details{width:100%}
.company_img{float:left;width:100%}
.store_listing li{width:33%;margin:0 40px 30px}
.brand_exclusive li{margin:0 40px 40px 0;width:26%}
.brand_exclusive ul{margin-bottom:0}
.other_locations li{width:90px;margin:0 28px 28px}
.showcase-thumbnail{width:124px}
.cart_product_des{width:36%;margin-top:0}
#lightbox-container-image-box{width:100%!important;height:100%!important}
#jquery-overlay{width:108%!important}
.header_right_inner{width:100%;position:relative}
.right_des,.about_product .product_purchase .item_details .item_desc,.about_product .product_purchase .item_details .item_desc .item_pricing{float:left;width:100%;margin:0}
.about_product .sidebar{width:27%}
}

@media screen and (max-width 600px) {
.wrapper{width:550px}
.logo{width:55%}
.sliderContent{height:203px}
.responsive_menu select{width:60%}
.search_part input{padding:6px 10px 6px 24px}
.promotions_block{width:47%;margin-bottom:20px}
.promotions_block a{width:90.8%;min-height:300px}
.top_sellers_block a{min-height:313px}
.brands li{width:auto;margin:0 15px}
.footer_logo{width:100%;text-align:center}
.footer_logo img, .total_row .cart_product_price{width:auto}
.footer_bottom p{width:100%;margin:15px 0 10px}
.filter_listing li a{width:93%}
.order select{width:100%;margin:0 0 10px}
.top_filter{width:94%}
.right_filter input{width:100px;background-position:88px 5px}
.product_purchase{width:90.5%}
.item_pricing{margin-left:10px}
.faq_img,.chat_img, .shopping_step li.cart_icon{display:none}
.chat_content{width:100%;float:left}
.chat_content h1{text-align:left}
.chat_content p{float:left;text-align:left}
.chat_btn, .total_amount{float:left}
.faq_listing{width:100%}
.contact_chat{padding:30px 0}
.faq_main{padding:30px 0 10px}
.other_locations li{width:90px;margin:0 23px 23px}
.showcase-thumbnail{width:114px}
.shopping_step li{width:21%}
.cart_product_img{width:32%}
.amount{float:left;margin:22px 0 0 20px}
.cart_product_des{width:60%;margin-top:20px}
.total_row{padding:20px 0}
.shopping_step ul{background:url(../images/shopping_step_bg.jpg) left top repeat-x #ebebeb}
.shopping_step li{background:none}
.shopping_step li a{padding:13px 20px;width:93%}
.shopping_step li a:hover{background:#ddd}
.shopping_step li{width:100%;border-bottom:1px solid #d8d8d8}
.amount{clear:both;margin-left:0}
.job_detail_box3,.job_detail_box2,.job_detail_box{clear:left;width:50%;margin-bottom:10px;margin-right:0}
}

@media screen and (max-width 480px) {
.wrapper{width:434px}
.logo a,.logo a img, .sidebar, .page_right, .c_row_block{width:100%}
.logo{width:44%;float:right}
.heder_left{width:56%}
.header_right{width:92%;margin:20px 0 0;border:1px solid #ccc;padding:15px}
.header_menu{padding:10px 0 20px}
.sliderContent{height:162px}
.sliderBullets{top:78%}
.responsive_menu select{width:49%}
.promotions_block{width:46%}
.promotions_block a{min-height:307px}
.top_sellers_block a{min-height:263px}
.brands li{width:33%;margin:0}
.social_contrent{padding:20px 0 10px}
.seguinos{margin:0;float:right}
.contact_detail li{margin:0 4px}
.contact_detail span,.newsletter span{margin-right:10px}
.footer ul{width:40%;padding:0 20px 20px}
.filter, .subcategory{width:95%}
.filter_listing li a{width:97%}
.order select{width:90%;margin-right:7px}
.c_form_row{margin-bottom:0}
.c_row_block{margin-bottom:20px}
.c_row_block select{width:98%}
.c_row_block textarea{width:93%}
.store_listing li{width:45%;margin:0 10px 30px}
.brand_exclusive li{margin:0 31px 40px 0}
.other_locations li{width:90px;margin:0 27px 27px}
.showcase-thumbnail{width:95px;margin:0 4px}
.showcase-thumbnail-restriction{width:95%!important}
.showcase-content{height:290px!important}
.showcase-content-container{height:300px!important}
.shopping_step li a{padding:13px 20px;width:91%}
.check_form_left{float:left!important;margin:0}
.checkout_forms{float:left;width:100%}
.checkout_form_row select{width:98%}
.personal_detail{margin-bottom:20px}
.time select{width:20%!important}
.login_detail input{width:31%}
}

@media screen and (max-width 320px) {
.wrapper{width:280px}
.header_right{padding:10px}
.header_menu ul li{margin:0 7px}
.sliderArrows a{top:31%;background:none}
.sliderContent{height:106px}
.sliderBullets{top:70%}
.responsive_menu{width:100%;float:left}
.responsive_menu select, .weather_block, .product_category li, .error_404 img, .cart_product_img, .photo_upload img{width:100%}
.search_part{width:87%;margin:10px 0 0}
.promotions_block{width:100%;margin:0 0 20px}
.promotions_block a{min-height:auto}
.brands li{width:50%}
.twitter_block,.facebook_block{width:96%;margin-bottom:20px}
.seguinos{float:left;margin:15px 0 0}
.newsletter input{margin:0 10px 0 0}
.contact_detail span,.newsletter span{margin:0 0 10px}
.footer ul{padding:10px;width:94%}
.footer{padding:10px 0}
.sidebar{width:98%}
.filter_listing li a{width:95%}
.order select{width:85%}
.paagination li{margin:0 2px}
.top_filter{width:91%}
.right_filter{float:left;margin:10px 0 0}
.product_category li a{width:90%}
.product_purchase{width:86%}
.item_pricing{width:59%}
.contact_form{padding:0 10px;width:92%}
.c_row_block textarea{width:89%}
.store_listing li{width:100%;margin:0 0 30px}
.red_bg,.store_listing li a img{margin:0 0 0 40px}
.brand_exclusive ul{padding:0 20px;width:86%}
.brand_exclusive li{width:44%;margin:0 14px 14px 0}
.other_locations li{width:90px;margin:0 22px 22px}
.address_block{width:100%;padding-bottom:0}
.panama_right{padding-top:30px}
.showcase-arrow-previous,.showcase-arrow-next{top:126px}
.showcase-content-container{height:196px!important}
.showcase-thumbnail-restriction{width:93%!important}
.showcase-thumbnail{width:121px}
.showcase-thumbnail-button-backward,.showcase-thumbnail-button-forward{margin-top:35px}
.showcase-arrow-previous,.showcase-arrow-next{background-size:100% 100%}
.cart_product_des{width:100%;margin-left:0}
.shopping_step li a{padding:13px 20px;width:85.5%}
.cart_product_img a{width:98%}
.checkout_form_row input,.checkout_form_row select{width:90%}
.checkout_form_row select{width:97%!important}
.date_part input{width:15%!important}
.time select{width:25%!important}
.personal_detail{width:88%}
.login_detail input{width:90%;margin-bottom:10px}
.about_product .product_purchase .item_details .item_img,.about_product .sidebar{width:100%;margin:0}
.info_content table tr td input[type="text"]{width:85%}
.history_data table tr{width:800px;float:left}
.history_data table tr td,.history_data table tr th{width:300px!important}
}

@media screen and (max-width 240px) {
.wrapper{width:200px}
.heder_left, .logo a img, .brands li a, .footer_logo img, .c_row_block select, .item_pricing{width:100%}
.logo{width:100%;float:left;margin:20px 0}
.logo a{width:100%;text-align:center}
.header_right{width:88%}
.header_menu ul li{margin:0;float:left;width:100%}
.sliderBullets{top:60%}
.sliderContent{height:76px}
.search_part{width:81%}
.promotions_block a{width:87.8%}
.brands li{width:100%;text-align:center}
.newsletter input{width:132px}
.footer ul{width:90%}
.sidebar{width:96%}
.filter_listing li a{width:93%}
.order select{width:78%}
.top_filter{width:88%}
.right_filter select{width:100%;margin-bottom:10px}
.right_filter input{width:93%}
.product_category li{width:96.5%}
.paagination li{margin:0}
.paagination li a{padding:7px}
.item_stock{width:100%;margin:20px 0 0}
.product_purchase{width:82%}
.contact_form{width:85%}
.store_listing li{width:100%;margin:0 0 30px}
.red_bg,.store_listing li a img{margin:0 0 0 3px}
.brand_exclusive ul{padding:0 0 0 10px;width:90%}
.brand_exclusive li{width:44%;margin:0 10px 14px 0}
.empresa_menu ul li{margin-bottom:10px}
.other_locations li{width:90px;margin:0 40px 40px}
.showcase-arrow-previous,.showcase-arrow-next{top:80px}
.showcase-content-container{height:135px!important}
.showcase-thumbnail-restriction{width:90%!important}
.showcase-thumbnail{width:170px}
.showcase-thumbnail-button-backward,.showcase-thumbnail-button-forward{margin-top:30px}
.showcase-arrow-previous,.showcase-arrow-next{background-size:100% 100%;width:20px;height:30px}
.shopping_step li a{padding:13px 20px;width:81%}
.cart_button .orange_btn{margin-bottom:10px}
.date_part input{padding:0;width:21%!important}
.time select{width:30%!important;padding:5px}
.personal_detail{width:85%}
.job_detail_box3,.job_detail_box2,.job_detail_box{width:88%;margin-right:0}
#gallery ul li{margin:0 5px 10px!important}
}

@media screen and (max-width 801px) {
.fb-like-box.fb_iframe_widget > span{width:220px!important}
.forecastday > img{height:20px;width:20px!important}
.responsive_menu select{width:64%}
.social-wunderground{width:233px}
.social-wunderground h2{width:97%}
.social-wunderground .flexslider .slides li .location{width:218px}
.social-wunderground .location_photos{width:96%}
.weather2-viewport{width:100%}
.social-wunderground .flexslider-wrapper{width:97%}
.weather1-active-slide{width:219px!important}
}

@media screen and (max-width 480px) {
	.brands{display:none}
	.weather_block{margin:0 auto 0 -20px}
	.header_menu li{clear:both;display:block!important;float:left;margin:4px 0!important;width:100%}
	.footer ul span{float:none}
	.footer li{text-align:center}
	.social-wunderground.social-widget{height:auto!important}
	.social-wunderground .flexslider .slides li .forecastday{font-size:10px}
	.logo{position:relative;right:0;width:44%}
	.facebook_block,.twitter_block{display:none}
	.flexslider-wrapper2{height:35px}
	.weather_block{float:none;margin:0 auto;width:300px}
	.social-wunderground{width:280px}
	.social-widget.social-wunderground{float:left}
	.social-wunderground.social-widget{height:343px}
	.social-wunderground h2{width:270px}
	.social-wunderground .location_photos{width:287px;display:none}
	.weather2-viewport{width:266px}
	.weather1-active-slide{width:282px!important}
	.social-wunderground .flexslider .slides li .location{width:218px}
}